作業目標:<br>
1. 運用索引找出需要資料<br>
2. 合併資料的分法應用

作業重點:<br>
1. 分辨索引loc、iloc差別
2. 分辨合併資料方法的不同，因應不同情況使用Merge, join, concatenate

題目:<br>
讀取STOCK_DAY_0050_202009.csv串聯STOCK_DAY_0050_202010.csv，並且找出open小於close的資料

In [1]:
import pandas as pd

In [6]:
#讀取STOCK_DAY_0050_202009.csv、STOCK_DAY_0050_202010.csv
STOCK1 = pd.read_csv('STOCK_DAY_0050_202009.csv')
STOCK2 = pd.read_csv('STOCK_DAY_0050_202010.csv')
print(STOCK1.head(5))
print(STOCK2.head(5))

        date    open    high     low   close
0  109/09/01  102.45  103.35  101.85  103.35
1  109/09/02  103.65  104.05  102.30  103.00
2  109/09/03  103.70  104.30  103.20  103.30
3  109/09/04  102.00  102.70  101.90  102.55
4  109/09/07  102.55  103.05  101.90  102.40
        date    open    high     low   close
0  109/10/05  103.45  104.05  103.00  103.05
1  109/10/06  104.00  104.35  103.85  104.25
2  109/10/07  104.00  105.00  103.50  104.80
3  109/10/08  105.45  106.35  105.30  106.20
4  109/10/12  106.70  107.70  106.70  107.05

In [4]:
#串聯
STOCK = pd.concat([STOCK1,STOCK2],axis=0)
STOCK.head(5)

        date    open    high     low   close
0  109/09/01  102.45  103.35  101.85  103.35
1  109/09/02  103.65  104.05  102.30  103.00
2  109/09/03  103.70  104.30  103.20  103.30
3  109/09/04  102.00  102.70  101.90  102.55
4  109/09/07  102.55  103.05  101.90  102.40

In [7]:
#找出open小於close的資料
STOCK.loc[(STOCK.open)<(STOCK.close),['open','close']]

      open   close
0   102.45  103.35
3   102.00  102.55
5   102.75  103.00
6   101.75  102.30
7   102.80  103.20
8   103.20  103.25
9   103.50  104.55
10  104.45  104.95
19  101.35  102.30
21  102.75  103.00
1   104.00  104.25
2   104.00  104.80
3   105.45  106.20
4   106.70  107.05
9   105.65  106.60
12  105.70  106.10